<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shopping.hlhj.com.mylibrary" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name=".activity.MainActivity" />

        <activity android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.HotVideoDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LiveNewsActivity" />
        <activity android:name=".activity.ArticleDetailActivity" />
        <activity android:name=".activity.HotVideoActivity" />
        <activity android:name=".activity.SpecialMoreActivity" />
        <activity android:name=".activity.LiveNewsMoreActivity" />
    </application>

</manifest>
